@font-face {
    font-family: 'brave_mountainsregular';
    src: url('bravemountains-webfont.woff2') format('woff2'),
         url('bravemountains-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  background-color: darkseagreen;
}
h1 {
  font-size: 160px;
  font-family: 'brave_mountainsregular', sans-serif;
}
